@media only screen and (max-width: 480px) {
  nav {
    padding: unset !important;
  }

  .Nav-button button {
    margin-left: 0.8rem;
  }

  .Carousel-Heading h2 {
    font-size: 4rem;
    font-weight: 700;
    padding-left: 1.8rem;
    padding-top: 4rem;
    line-height: 5rem;
  }
  .Carousel-Heading p {
    font-size: 1.9rem;
    font-weight: 300;
    padding-left: 1.8rem;
  }
  .banner-button button {
    padding: 1.1rem 3.9rem;
    margin-left: 2rem;
    margin-top: 2.4rem;
  }
  .Background-Ball-Two {
    position: absolute;
    top: -2rem;
    left: 10.5rem;
  }

  .trail-container h2 {
    color: white;
    font-size: 4.2rem;
    font-weight: 600;
    font-family: "Poppins";
  }

  .awards-section h2 {
    margin-bottom: 10px;
  }

  .card_slider {
    padding: 25px 0px 25px !important;
  }

  .swiper-button-next {
    margin-right: 0.7rem !important;
  }

  .swiper-button-next,
  .swiper-button-prev {
    margin-top: -6.2rem !important;
  }
  .top-bg img:nth-child(1) {
    top: 0;
    left: 0px;
  }
  .top-bg img:nth-child(2) {
    bottom: 0;
    left: 0px;
  }

  .top-bg img:nth-child(3) {
    right: 0px;
    bottom: 0;
  }
  .top-bg img:nth-child(4) {
    right: 0px;
  }
  .bg-footer {
    padding-inline: 1.9rem;
  }

  .feature-heading::after {
    content: "";
    display: block;
    width: 35%;
    height: 5px;
    background-color: #ff9002;
    position: absolute;
    bottom: -5px;
    left: 155px;
    border-radius: 10px;
  }
  .blogs-heading::after {
    content: "";
    display: block;
    width: 25%;
    height: 5px;
    background-color: #ff9002;
    position: absolute;
    bottom: -5px;
    left: 179px;
    border-radius: 10px;
  }
  .awards-heading::after {
    content: "";
    display: block;
    width: 31%;
    height: 5px;
    background-color: #ff9002;
    position: absolute;
    bottom: -5px;
    left: 160px;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .Carousel-Heading h2 {
    font-size: 3.6rem;
    font-weight: 700;
    padding-left: 1.8rem;
    padding-top: 4rem;
    line-height: 5rem;
  }
  .Carousel-Heading p {
    font-size: 1.9rem;
    font-weight: 300;
    padding-left: 1.8rem;
  }
  .Background-Ball-Three {
    position: absolute;
    bottom: 36 + rem;
    left: 21rem;
  }

  top-bg img:nth-child(1) {
    top: 0;
    left: 0px;
  }
  .top-bg img:nth-child(2) {
    bottom: 0;
    left: 0px;
  }

  .top-bg img:nth-child(3) {
    right: 0px;
    bottom: 0;
  }
  .top-bg img:nth-child(4) {
    right: 0px;
  }
  .bg-footer {
    padding-inline: 1.9rem;
  }

  .feature-heading::after {
    content: "";
    display: block;
    width: 45%;
    height: 5px;
    background-color: #ff9002;
    position: absolute;
    bottom: -5px;
    left: 110px;
    border-radius: 10px;
  }
  .awards-heading::after {
    content: "";
    display: block;
    width: 36%;
    height: 5px;
    background-color: #ff9002;
    position: absolute;
    bottom: -5px;
    left: 125px;
    border-radius: 10px;
  }
}
